@{
    ViewBag.Title = "About GoFar";
}
<div class="main">
    <div class="container">
        <div class="body-content">
            <h2 class="medium-head">@ViewBag.Title.</h2>
            <p>Use this area to provide additional information.</p>
        </div>
    </div>
</div>