@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <div class="container center-vert">
            <h1>GoFar</h1>
            <p class="lead">Plan your next dream getaway.</p>
            <p><a href="http://asp.net" id="hero-button" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>

<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-responsive featured-img" src="~/images/poolside.jpg" />
                <h2 class="light-head">Top-Rated Destinations</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-responsive featured-img" src="~/images/fine-dining.jpg" />
                <h2 class="light-head">Fine Dining</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-responsive featured-img" src="~/images/adventure.jpg" />
                <h2 class="light-head">Extraordinary Adventures</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

<div class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="light-head">GoFar with the ones you love and make unforgettable memories.</h3>
                <p>With GoFar, it is our mission to ensure our guests experience a rich and carefree stay. We offer services and experiences that are truly unique. <br />
                For additional information, please call 123.123.1234.</p>
            </div>
        </div>
    </div>
</div>
