@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <div class="container center-vert">
            <h1 class="text-shadow">GoFar</h1>
            <p class="lead">Plan your next dream getaway.</p>
            <p><a href="http://asp.net" id="hero-button" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>

<div class="featured">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2>The Ultimate Getaway</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-responsive featured-img" src="~/images/poolside.jpg" />
                <h3 class="light-head">Top-Rated Destinations</h3>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-responsive featured-img" src="~/images/fine-dining.jpg" />
                <h3 class="light-head">Fine Dining</h3>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-responsive featured-img" src="~/images/adventure.jpg" />
                <h3 class="light-head">Extraordinary Adventures</h3>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

<div class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="light-head">GoFar with the ones you love and make unforgettable memories.</h2>
                <p class="medium">
                    With GoFar, it is our mission to ensure our guests experience a rich and carefree stay. We offer services and experiences that are truly unique.
                </p>

                <p class="medium">For additional information, please call <a href="tel:1231231234">123.123.1234</a>.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 img-container home-image">
                <img class="img-responsive home-image" src="~/images/family.jpg" />
            </div>
        </div>

        <div class="row reserve-bar">
            <div>
                <div class="col-lg-12">
                    <p class="medium">Choose your destination today. &nbsp; <a class="btn btn-default hotel" href="/Reservations/Create">Reserve Now &raquo;</a> <a class="btn btn-default contact" href="/Home/Contact">Contact Us &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
