@model IEnumerable<IT431Site.Models.Location>
@{
    ViewBag.Title = "Locations";
}

<div class="main">
    <div class="container">
        <div class="body-content">

                <h2>Locations</h2>

                <div class="row is-flex">
                    @foreach (var item in Model)
                    {
                        @Html.Partial("_LocationsDisplayView", item)
                    }
                </div>
            <div class="row reserve-bar">
                <div>
                    <div class="col-lg-12">
                        <p class="medium">Choose your destination today. &nbsp; <a class="btn btn-default hotel" href="/Reservations/Create">Reserve Now &raquo;</a> <a class="btn btn-default contact" href="/Home/Contact">Contact Us &raquo;</a></p>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
