body {
    padding-top: 0px;
    padding-bottom: 0;
    color: #3e3e42;
    background-color: #222222;
    font-family: 'Open Sans', sans-serif;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* -------------- POSITIONING --------------- */
.center-vert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* -------------- GENERAL TEXT --------------- */
.text-shadow {
    text-shadow: 3px 4px 6px rgba(0,0,0,.5);
}

.medium {
    font-size: 1.3em;
}

/* --------------- LINKS --------------- */
a {
    color: #3e9b96;
}

a:hover {
    color: #FFE468;
    text-decoration: underline;
}

/* -------------- HEADINGS --------------- */
h1, h2, h3, h4, h5, h6 {
    color: #fffffa;
    display: inline-block;
    padding: .4em 0;
    margin: 0 0 .5em 0;
    border-bottom: 2px solid #45b4ae;
    font-family: 'Lora', serif;
}

.featured-img {
    border-radius: 5px;
    width: 90%;
    margin: 2.2em auto 0 auto;
}

.body-content {
    margin-top: 10em;
}

.light-head {
    color: #fffffa;
}

.medium-head {
     color: #999;
}

.main h2, .main h3 {
    color: #3e3e42;
}

.main h4 {
    color: #999;
    border-bottom: none;
}
/* ------------- JUMBOTRON -------------- */
.jumbotron {
    color: #fff;
    margin-bottom: 0px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.5)
    ), url(/images/hero-img.jpg) no-repeat fixed bottom;
    background-size: cover;
    height: 47em;
}

/* --------------- BUTTON --------------- */
.btn-primary {
    background-color: #45b4ae;
    border: none;
}

.btn-primary:hover {
    background-color: #3e9b96;
}

.btn-default {
    border-color: #45b4ae;
    color: #247B7B;
}

.btn-default:hover {
    background-color: #45b4ae;
    border-color: #45b4ae;
    color: #fffffa;
}

/* --------------- FEATURED SECTION --------------- */
.featured {
    color: #b5b5b5;
    background-color: #222222;
    padding: 50px 0px;
}

.featured h2 {
    color: #e1e1e1;
}

/* --------------- HOME SECTION --------------- */
.home-section {
    background-color: white;
    padding: 70px 0px;
}

.home-section h2, .home-section h3 {
    color: #999;
}

.p-home {

}

.home-image {
    margin-top: 2em;
}
/* -------------------- RESERVATION BAR -------------------- */
.reserve-bar p {
    margin: 0;
    color: #fffffa;
}

.reserve-bar {
    background-color: #45b4ae;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 2.5em 0;
    text-align: center;
}

.hotel {
    background-color: #FFE468;
}

.hotel:hover {
    border: 1px solid #FFE468;
}

.contact:hover {
   border: 1px solid #fffffa;
}

/* ----------------------- FOOTER ------------------------ */
hr.style-two {
    
}

hr {
    margin: 0;
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, #3e9b96, #45b4ae , #3e9b96);
}

.footer {
    background-color: #222222;
    padding: 2em 0;
}

#f p {
    color: #e1e1e1;
}

/* ------------- NAVBAR ---------------- */
.navbar {
    border-bottom: 0;
    padding: .8em;
    background-color: rgba(0,0,0,.8)
}

.navbar-header a.navbar-brand {
    color: #e1e1e1;
    border: 1px solid #e1e1e1;
    display: block;
    font-family: 'Lora';
    border-radius: .2em;
    margin-right: 1.5em;
}

.navbar-header a.navbar-brand:hover {
    border: 1px solid #45b4ae;
}


.nav.navbar-nav li a {
    color: #bebebe;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .08em;
    font-size: 1.1em;
}

.nav.navbar-nav li a:hover {
    color: #4CCBC5;
}

.main {
    background-color:white;
    padding-bottom:20px;
}

.main hr {
    margin-bottom: 3.5em;
}