body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center-vert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.body-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ------------- JUMBOTRON -------------- */
.jumbotron {
    color: #fff;
    margin-bottom: 0px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.5)
    ), url(/images/hero-img.jpg) no-repeat fixed center;
    background-size: cover;
    height: 500px;
}